﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Authentication Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger">Please <a href="/Auth">reauthenticate</a> and try again.</h2>

