﻿@model Manatee.Trello.Card
@{
    ViewBag.Title = "Add Comment";
}

<h2>@ViewBag.CardName - Add Comment</h2>

<form action="/Boards/AddComment/@Model.Id" , method="post">
    @Html.AntiForgeryToken()
    @Html.Hidden("cardId", Model.Id, new { @id = "cardId"})
    <input type="text" name="newcomment" />
    <input type="submit" value="Submit">
</form>

<div>
    @Html.ActionLink("Cancel", "Cards", new { boardId = Model.Board.Id })
</div>
