﻿@model IEnumerable<Manatee.Trello.Card>
@{
    ViewBag.Title = "Cards";
}

<h2>@ViewBag.BoardName - Cards</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
        </th>
    </tr>

    @foreach (var card in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => card.Name)
            </td>
            <td>
                @Html.ActionLink("Add Comment", "AddComment", new { cardId = card.Id })
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Back to boards", "Index", "Board", new {})
