﻿@model IEnumerable<Manatee.Trello.Board>

@{
    ViewBag.Title = "Boards";
}

<h2>Boards</h2>

@if(Model.Count() == 0){
    <h3>No boards to show.</h3>
} else {
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
            </th>
        </tr>

        @foreach (var board in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => board.Name)
                </td>
                <td>
                    @Html.ActionLink("Cards", "Cards", new { boardId = board.Id })
                </td>
            </tr>
        }

    </table>
}