﻿@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron">
    <h1>TrelloWorld</h1>
    <p class="lead">This app lets you view your boards and cards on Trello, and even add comments to your cards!</p>
    @Html.ActionLink("View my boards from Trello", "Index", "Auth")
</div>

